{
    "extends": "airbnb",
    "env": {
        "browser": true,
        "node": true,
        "mocha": true,
        "jest": true
    },
    "parser": "babel-eslint",
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["client"]
            }
        }
    },
    "globals": {
        "_paq": true
    }
}
